<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.MqMapper">
  <resultMap id="BaseResultMap" type="com.xxl.job.core.biz.model.MqEntity">
    <id column="message_id" jdbcType="CHAR" property="messageId" />
    <result column="to_exchange" jdbcType="VARCHAR" property="toExchange" />
    <result column="class_type" jdbcType="VARCHAR" property="classType" />
    <result column="message_status" jdbcType="INTEGER" property="messageStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mq_message
    where message_id = #{messageId,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.xxl.job.core.biz.model.MqEntity">
    insert into mq_message (message_id, to_exchange, class_type, 
      message_status, create_time, update_time, 
      content)
    values (#{messageId,jdbcType=CHAR}, #{toExchange,jdbcType=VARCHAR}, #{classType,jdbcType=VARCHAR}, 
      #{messageStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.xxl.job.core.biz.model.MqEntity">
    update mq_message
    set to_exchange = #{toExchange,jdbcType=VARCHAR},
      class_type = #{classType,jdbcType=VARCHAR},
      message_status = #{messageStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where message_id = #{messageId,jdbcType=CHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select message_id, to_exchange, class_type, message_status, create_time, update_time, 
    content
    from mq_message
    where message_id = #{messageId,jdbcType=CHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select message_id, to_exchange, class_type, message_status, create_time, update_time, 
    content
    from mq_message
  </select>

</mapper>