<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxl.job.workbench.dao.CategoryMapper" >

  <resultMap id="BaseResultMap" type="com.xxl.job.core.biz.model.CategoryEntity" >
    <id column="cat_id" property="catId"/>
    <result column="name" property="name" />
    <result column="parent_cid" property="parentCid" />
    <result column="cat_level" property="catLevel" />
    <result column="show_status" property="showStatus"/>
    <result column="sort" property="sort" />
    <result column="icon" property="icon" />
    <result column="product_unit" property="productUnit" />
    <result column="product_count" property="productCount"/>
  </resultMap>

  <!--<delete id="deleteByPrimaryKey">-->
    <!--delete from t_flow-->
    <!--where id = #{id}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.xxl.job.core.biz.model.FlowEntity" >-->
    <!--insert INTEGERo t_flow (id, job_id, node_list,-->
      <!--hop_list)-->
    <!--values (#{id,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, #{nodeList,jdbcType=LONGVARCHAR},-->
      <!--#{hopList,jdbcType=LONGVARCHAR})-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.xxl.job.core.biz.model.FlowEntity" >-->
    <!--update t_flow-->
    <!--set job_id = #{jobId,jdbcType=INTEGER},-->
      <!--node_list = #{nodeList,jdbcType=LONGVARCHAR},-->
      <!--hop_list = #{hopList,jdbcType=LONGVARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" >-->
    <!--select id, job_id, node_list, hop_list-->
    <!--from t_flow-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <select id="selectList" resultMap="BaseResultMap" >
    select *
    from pms_category
  </select>

</mapper>